section {
    margin-top: 80px;
    margin-bottom: 80px;
}
img {
    max-width: 100%;
}


/*
  THEME STYLE
*/

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(13, 110, 253, 0.7);
}